<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vaaveassignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="60ini.app.link"/>
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!-- Branch keys -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_gpJ3HTULhzVyGWroK1rxcbjmExhV36p9"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_oiBNmHw3FQWznLFSe2rQxaogutkr3ymN"/>
    </application>

</manifest>
